@model SODV3201_LibMgtSys.Models.ViewModels.LibAccountData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookLoans)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Book Title</th>
                    <th>Due Date</th>
                </tr>
                @foreach (var item in Model.BookLoans)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookItem.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                        <td>
                            <a asp-controller="BookItems" asp-action="Details" asp-route-id="@item.BookItemID">Details</a>
                            |
                            <a asp-controller="LibAccounts" asp-action="CloseBookLoan" asp-route-id="@item.ID">Close Book
                                Loan</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>