@model IEnumerable<SODV3201_LibMgtSys.Models.LibAccount>
@{
    ViewData["Title"] = "Library Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Library Accounts</h2>

<p>
    <a asp-action="Create">Create New Account</a>
</p>
<table class="table table-bordered table-hover" id="libAccounts">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Owner.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemsCheckedOut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemsCheckedOut)
                </td>
                <td>
                    <form asp-action="Delete" asp-controller = "LibAccounts" method="post" asp-antiforgery = "true" asp-route-id="@item.ID">
                        <a asp-controller = "LibAccounts" asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Details</a>
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts {
    <script> 
        $(document).ready( function () {
            $('#libAccounts').DataTable();
        });
    </script>
}