@model IEnumerable<SODV3201_LibMgtSys.Models.BookItem>
@{
    ViewData["Title"] = "BookItemsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table  table-bordered table-hover" id="bookItems">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    <button class="btn-link" asp-action="Edit" asp-route-id="@item.ID">Edit</button>
                    <button class="btn-link" asp-action="Details" asp-route-id="@item.ID">Details</button>
                    <button data-bookItem-ID = "@item.ID" class="btn-link js-delete">Delete</button>
                    <button class = "btn-link" asp-action="CreateBookLoan" asp-controller="LibAccounts" asp-route-id="@item.ID">Check Out</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script> 
        $(document).ready ( function (){
            var myDataTable = $('#bookItems').DataTable();
            $('#bookItems .js-delete').on("click", function() {
                var button = $(this);
                var result = confirm("Are you sure you wish to delete this customer?");
                if (result){
                    $.ajax({
                        url: "BookItems/Delete/" + button.attr("data-bookItem-ID"),
                        method: "POST",
                        success: function () {
                            myDataTable.row(button.parents("tr")).remove().draw();
                        }
                    });
                }
            });
        });
        $(document).ready( function () {
            $('#bookItems').DataTable();
        });
    </script>
}