@model IEnumerable<SODV3201_LibMgtSys.Models.BookItem>
@{
    ViewData["Title"] = "Book Catalogue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book Catalogue</h2>

<p>
    <a asp-action="Create">Create New Book</a>
</p>
<table class="table  table-bordered table-hover" id="bookItems">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID"><button class="btn btn-primary">Edit</button></a>
                    <a asp-action="Details" asp-route-id="@item.ID"><button class="btn btn-primary">Details</button></a>
                    <button data-bookItem-ID = "@item.ID" class="btn btn-primary js-delete">Delete</button>
                    <a asp-action="CreateBookLoan" asp-controller="LibAccounts" asp-route-id="@item.ID"><button class = "btn btn-primary" >Check Out</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script> 
        $(document).ready ( function (){
            var myDataTable = $('#bookItems').DataTable();
            $('#bookItems .js-delete').on("click", function() {
                var button = $(this);
                bootbox.confirm("Are you sure you wish to delete this book?", function (result) {
                    if (result){
                        $.ajax({
                            url: "BookItems/Delete/" + button.attr("data-bookItem-ID"),
                            method: "POST",
                            success: function () {
                                myDataTable.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
        $(document).ready( function () {
            $('#bookItems').DataTable();
        });
    </script>
}