@model IEnumerable<SODV3201_LibMgtSys.Models.BookItem>
@{
    ViewData["Title"] = "BookItemsIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table  table-bordered table-hover" id="bookItems">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID"><button class="btn-link">Details</button></a>
                    <a asp-action="CreateBookLoan" asp-controller="LibAccounts" asp-route-id="@item.ID"><button
                            class="btn-link">Check Out</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>
